# This is Git's per-user configuration file.
[user]
	name = Robert Schiele
	email = rschiele@gmail.com
[push]
	default = simple
[core]
	gitproxy = /home/rschiele/bin/proxy
[log]
	decorate = short
[protocol]
	version = 2
